main ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px black solid;
    padding: 10px;
    margin: 10px;

}

.summaryPage {
    background-color: #50535C;
}