

.nav-container {
    flex-basis: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2C2F39;
    border: 2px red dotted;

}


nav {
    width: 100%;
    background-color: #2C2F39;
    display: flex;
    justify-content: center;
    height: 60px;
}

nav img {
  width: 200px;
 }

ul {
    list-style-type: none;
    flex-basis: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}